/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@use '../sass/utils' as *;
@use '../sass/partials' as *;
@import './example';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap');

body {
  font-family: var(--ff-primary);
}

.container {
  margin-inline: auto;
  padding-inline: var(--pd-container);
  max-width: var(--device-screen);
}
