@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap");
:root {
  /*
    FONTS TO IMPORT:
    HTML -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap" rel="stylesheet">

  CSS -->
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap');
  */
  --fs-200: 0.5rem;
  --fs-300: 0.75rem;
  --fs-325: 0.75rem;
  --fs-350: 0.75rem;
  --fs-375: 0.875rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-550: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.625rem;
  --fs-750: 1.75rem;
  --fs-800: 2.125rem;
  --fs-850: 2.25rem;
  --fs-900: 3rem;
  --ff-primary: "DM Sans", sans-serif;
  --ff-header: "Titan One", cursive;
  --bg-white: #fff;
  --bg-gray: #fafafa;
  --bg-pink: #ffb8ca;
  --bg-pink-light: #fff5f6;
  --bg-pink-dark: #e17992;
  --bg-beige: #f0d1a5;
  --bg-green: #c2e297;
  --bg-gray-hover: #ecebeb;
  --text-white: #fff;
  --text-pink: #d41443;
  --text-pink-light: #ffa5ba;
  --text-black: #000;
  --text-gray: #907e82;
  --stroke: #e1e1e1;
  --shadow: rgba(212, 20, 67, 0.1);
  --box-shadow: 0px, 8px, 30px, var(--shadow);
  --box-radius: 1.5rem;
  --button-radius: 1.375rem;
  --pd-container: 1.25rem;
  --device-screen: 30em;
}

@media (min-width: 48em) {
  :root {
    --pd-container: 2.125rem;
    --fs-325: 0.875rem;
    --fs-350: 1rem;
    --fs-375: 1rem;
    --fs-550: 1.625rem;
    --fs-700: 1.375rem;
    --fs-800: 3rem;
    --fs-850: 3rem;
    --fs-900: 2.125rem;
    --device-screen: 48em;
  }
}
@media (min-width: 80em) {
  :root {
    --pd-container: 7.25rem;
    --fs-200: 0.875rem;
    --fs-300: 0.875rem;
    --fs-325: 1rem;
    --fs-375: 1.25rem;
    --fs-400: 1rem;
    --fs-550: 1.875rem;
    --fs-600: 1.875rem;
    --fs-700: 2.375rem;
    --fs-750: 2.875rem;
    --fs-800: 3.625rem;
    --fs-850: 3.625rem;
    --fs-900: 3.625rem;
    --device-screen: 80em;
  }
}
.header-550 {
  font-size: var(--fs-550);
  color: var(--text-pink-light);
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--ff-header);
}

.header-600 {
  font-size: var(--fs-600);
  color: var(--text-white);
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--ff-header);
  letter-spacing: 0.04em;
}

.header-700 {
  font-size: var(--fs-700);
  color: var(--text-white);
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--ff-header);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header-750 {
  font-size: var(--fs-750);
  color: var(--text-pink);
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--ff-header);
  letter-spacing: 0.04em;
}

.header-800 {
  font-size: var(--fs-800);
  color: var(--text-pink);
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--ff-header);
  letter-spacing: 0.04em;
}

.header-850 {
  font-size: var(--fs-850);
  color: var(--text-pink);
  font-weight: 400;
  line-height: 1.145;
  font-family: var(--ff-header);
  letter-spacing: 0.04em;
}

.header-900 {
  font-size: var(--fs-900);
  color: var(--text-pink);
  font-weight: 400;
  line-height: 0.9;
  font-family: var(--ff-header);
}

.text-200 {
  font-size: var(--fs-200);
  color: var(--text-white);
  font-weight: 400;
  line-height: 1.5;
}

.text-300 {
  font-size: var(--fs-300);
  color: var(--text-gray);
  font-weight: 500;
  line-height: 1.62;
}

.text-325 {
  font-size: var(--fs-325);
  color: var(--text-black);
  font-weight: 500;
  line-height: 1.62;
}
.text-325--quote {
  line-height: 2.55;
}
.text-325--city {
  letter-spacing: 0.04em;
}
.text-325--address {
  color: var(--text-gray);
}
.text-325--hours {
  color: var(--text-pink-light);
}
.text-325--contact {
  font-weight: 700;
}
.text-325--phone {
  color: var(--text-pink);
}

.text-350 {
  font-size: var(--fs-350);
  color: var(--text-white);
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.text-375 {
  font-size: var(--fs-375);
  color: var(--text-black);
  font-weight: 500;
  line-height: 1.86;
}

.text-400 {
  font-size: var(--fs-400);
  color: var(--text-white);
  font-weight: 700;
  line-height: 1.3;
}
.text-400--products {
  line-height: 1.52;
  letter-spacing: 0.04em;
}

.text-750 {
  font-size: var(--fs-750);
  color: var(--text-pink);
  font-weight: 400;
  line-height: 1.14;
  font-family: var(--ff-header);
  letter-spacing: 0.04em;
}

.text-copyright {
  font-size: 0.875rem;
  color: var(--text-gray);
  font-weight: 700;
  line-height: 1.52;
}

@media (min-width: 48em) {
  .header-900 {
    letter-spacing: 0.04em;
  }
  .text-300 {
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  .text-325 {
    line-height: 1.76;
  }
  .text-325--quote {
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  .text-400--products {
    line-height: 1.76;
  }
  .text-copyright {
    line-height: 1.86;
    letter-spacing: 2%;
  }
}
@media (min-width: 80em) {
  .text-200 {
    line-height: 1.3;
  }
  .text-300 {
    line-height: 1.94;
  }
  .text-325 {
    letter-spacing: 0.04em;
  }
  .text-325--quote {
    line-height: 1.86;
  }
}
.button-500 {
  font-size: var(--fs-500);
  color: var(--text-pink);
  font-weight: 700;
  line-height: 1.31;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: var(--bg-white);
  cursor: pointer;
  color: var(--text-pink);
}
.button-primary:hover, .button-primary:focus {
  background-color: var(--bg-gray-hover);
}
.button-primary__icon-greater-than {
  height: 10px;
  width: 6px;
  fill: var(--text-pink);
}
.button-primary--mobile-menu {
  width: 209px;
  height: 44px;
  gap: 28px;
}
.button-primary--header {
  width: 83px;
  height: 24px;
}
.button-primary--about {
  width: 176px;
  height: 44px;
  gap: 19px;
}
.button-primary--contacts {
  width: 161px;
  height: 44px;
  gap: 16px;
}
.button-primary--header-buy-now {
  width: 160px;
  height: 44px;
  gap: 14px;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: var(--text-pink);
  cursor: pointer;
  color: var(--text-white);
}
.button-secondary__icon-greater-than {
  height: 10px;
  width: 6px;
  fill: var(--text-white);
}
.button-secondary--header {
  width: 62px;
  height: 24px;
}
.button-secondary--contacts {
  width: 161px;
  height: 44px;
  gap: 11px;
}

.button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-white);
  cursor: pointer;
}
.button-arrow--products {
  width: 40px;
  height: 40px;
}
.button-arrow--products svg {
  width: 11px;
  height: 10px;
}
.button-arrow--header {
  width: 26px;
  height: 26px;
}
.button-arrow--header svg {
  width: 7px;
  height: 6px;
}
.button-arrow:hover, .button-arrow:focus {
  background-color: var(--bg-gray-hover);
}
.button-arrow svg {
  fill: var(--text-pink);
}

@media (min-width: 48em) {
  .button-primary--mobile-menu {
    width: 186px;
    gap: 22px;
  }
  .button-primary--contacts {
    width: 174px;
  }
  .button-secondary--contacts {
    width: 191px;
  }
}
@media (min-width: 80em) {
  .button-primary--header {
    width: 138px;
  }
  .button-secondary--header {
    width: 104px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-pink-light);
  padding-top: 125px;
}
.about__title {
  text-align: center;
}
.about__titleFirst {
  color: var(--text-pink-light);
  font-family: var(--ff-header);
  font-size: var(--fs-550);
  text-transform: uppercase;
}
.about__titleSecond {
  margin-top: 15px;
  color: var(--text-pink);
  font-family: var(--ff-header);
  font-size: var(--fs-800);
  text-transform: uppercase;
}
.about__cow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__cow {
  text-decoration: none;
}
.about__description {
  max-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
}
.about__description-text1 {
  margin-top: 46px;
  color: var(--text-black);
  font-family: var(--ff-primary);
  font-size: var(--fs-325);
  line-height: 1.25rem;
}
.about__description-text2 {
  margin-top: 40px;
  color: var(--text-gray);
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  line-height: 1.25rem;
}
.about__description-text3 {
  color: var(--text-gray);
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  line-height: 1.25rem;
  padding-top: 14px;
}
.about__splash {
  text-decoration: none;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-pink-light);
  padding-bottom: 6.063rem;
}
@media screen and (min-width: 48em) {
  .advantages {
    flex-direction: row;
    max-width: 48em;
    margin: 0 auto;
    padding-right: 4.5rem;
    padding-left: 3rem;
    gap: 3.75rem;
    background-color: var(--bg-pink-light);
    max-width: 100%;
    padding-bottom: 8.75rem;
  }
}
@media screen and (min-width: 80em) {
  .advantages {
    gap: 1.875rem;
    padding-bottom: 8.688rem;
  }
}
.advantages__wrapper {
  max-width: 320px;
  padding: 2.375rem 4.375rem 0 1.25rem;
  background-color: var(--bg-pink-light);
}
@media screen and (min-width: 48em) {
  .advantages__wrapper {
    max-width: 180px;
    padding: 0;
  }
}
@media screen and (min-width: 80em) {
  .advantages__wrapper {
    max-width: 330px;
  }
}
.advantages__number {
  display: block;
  padding: 1rem 0;
}
@media screen and (min-width: 48em) {
  .advantages__number {
    padding: 2.25rem 0 0.813rem 0;
  }
}
@media screen and (min-width: 80em) {
  .advantages__number {
    padding: 2.5rem 0 0.938rem 0;
  }
}

.gallery {
  margin-inline: auto;
  background: linear-gradient(to bottom, var(--bg-pink-light) 50%, var(--bg-white) 50%);
}
.gallery__picture {
  margin-inline: auto;
}

.header {
  margin: auto;
  position: relative;
  padding: 6px 20px 160px;
  background-color: var(--bg-pink);
  min-height: 502px; /* ----------------- ONLY FOR TESTING!! */
  overflow: hidden;
}
.header__articles {
  padding-top: 137px;
  position: inherit;
  display: flex;
  width: 220px;
  z-index: 10;
}
.header__article-numbers {
  display: none;
}
.header__buttons {
  display: flex;
  gap: 8px;
}
.header__circle-bg {
  width: 346px;
  height: 344px;
  position: absolute;
  top: 83px;
  left: calc(100vw - 284px);
  border-radius: 50%;
  background-color: var(--text-pink-light);
  transition: left 1250ms ease-in-out;
  z-index: 0;
}
.header__hero-ice-cream {
  position: absolute;
  bottom: 0;
  left: calc(100vw - 203px);
  width: 171px;
  height: auto;
  display: block;
}
.header__hero-girl {
  position: absolute;
  opacity: 0;
}
.header__hero-milk {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.nav__links {
  display: none;
}
.nav__button {
  display: none;
}

.menu-toggle {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--text-pink);
  transition: color 250ms ease-in-out;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--bg-white);
}

/* =============================== MEDIA =====================*/
@media screen and (min-width: 768px) {
  .header {
    max-width: 48em;
    min-height: 399px; /* ----------------- ONLY FOR TESTING!! */
    padding: 37px 34px 34px;
  }
  .header__articles {
    padding-top: 15px;
  }
  .header__circle-bg {
    width: 324px;
    height: 332px;
    top: 31px;
    left: 307px;
    transition: left 1250ms ease-in-out;
  }
  .header__hero-ice-cream {
    position: absolute;
    bottom: 0;
    left: 378px;
    width: 143px;
    height: auto;
    display: block;
  }
  .header__hero-girl {
    display: initial;
    bottom: 0;
    left: 566px;
    width: 168px;
    height: auto;
    display: block;
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
  }
  .header__hero-milk {
    display: initial;
    position: absolute;
    bottom: 28px;
    left: 34px;
    width: 124px;
    height: auto;
    display: block;
  }
  .menu-toggle {
    margin-left: auto;
  }
  .nav {
    gap: 30px;
  }
  .nav__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    width: 158px;
    height: 44px;
    border-radius: 22px;
    border: none;
    box-shadow: inset var(--text-pink-light) 0 0 4px 2px;
    transition: 250ms ease-in-out;
  }
  .nav__button svg {
    margin-bottom: -2px;
  }
  .nav__button:hover, .nav__button:focus {
    color: var(--text-pink);
    cursor: pointer;
    outline: none;
    box-shadow: inset var(--text-pink-light) 0 0 0 0, var(--text-pink-light) 0 5px 15px 5px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 80em;
    min-height: 665px; /* ----------------- ONLY FOR TESTING!! */
    padding: 37px 115px 56px 46px;
  }
  .header__circle-bg {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 475px;
    transition: left 1250ms ease-in-out;
  }
  .header__hero-ice-cream {
    left: 594px;
    width: 236px;
    height: auto;
    display: block;
  }
  .header__hero-girl {
    left: 878px;
    width: 293px;
    height: auto;
    display: block;
  }
  .header__hero-milk {
    bottom: 44px;
    left: 77px;
    width: 188px;
    height: auto;
    display: block;
  }
  .nav__links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 35px;
  }
  .nav__link {
    transition: color 250ms ease-in-out;
  }
  .nav__link:hover {
    color: var(--text-pink);
  }
  .menu-toggle {
    display: none;
  }
}
@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--bg-pink-dark);
  z-index: 999;
  transform: translateX(1280px);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 23px;
  right: 28px;
  cursor: pointer;
}

.button-example {
  margin-top: 60px;
}

.mobile-menu {
  margin-top: 19px;
}
.mobile-menu > li {
  padding-left: 21px;
  border-bottom: 1px solid #e18298;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.mobile-menu > li:first-child {
  border-top: 1px solid #e18298;
}
.mobile-menu__link {
  text-decoration: none;
  color: var(--text-white);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--text-pink);
}

.mobile-menu-close {
  width: 14px;
  height: 14px;
}

.button-primary--mobile-menu {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

body {
  font-family: var(--ff-primary);
}

.container {
  margin-inline: auto;
  padding-inline: var(--pd-container);
  max-width: var(--device-screen);
}

.header-container {
  background-color: var(--bg-pink);
  margin: auto;
}/*# sourceMappingURL=main.css.map */