<section class="about">
  <div class="about__title">
    <h2 class="about__titleFirst">Tradition and love</h2>
    <h1 class="about__titleSecond">How it's made?</h1>
  </div>
  <div class="about__picCow">
    <picture>
      <source srcset="./images/about/webp/about-cow-desktop.webp" media="(min-width: 1280px)" />
      <source
        srcset="./images/about/webp/about-cow-desktop@2x.webp"
        media="(min-width: 1280px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/about/webp/about-cow-desktop@3x.webp"
        media="(min-width: 1280px and min-device-pixel-ratio: 3)"
      />
      <img src="./images/about/webp/about-cow-mobile.webp" alt="milk_cow" />
    </picture>
    <div class="about__description">
      <ul class="about__description-list">
        <li class="about__description-item">
          <p class="about__description-text1">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </li>
        <li class="about__description-item">
          <p class="about__description-text2">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
