<section id="about-us" class="about">
  <div class="container">
    <div class="about__title">
      <h2 class="about__titleFirst">Tradition and love</h2>
      <h1 class="about__titleSecond">How it's made?</h1>
    </div>
    <div class="about__cow-container">
      <picture class="about__cow">
        <source
          srcset="./images/about/webp/about-cow-mobile@2x.webp"
          media="(min-device-pixel-ratio: 2)"
        />
        <source
          srcset="./images/about/webp/about-cow-mobile@3x.webp"
          media="(min-device-pixel-ratio: 3)"
        />
        <source srcset="./images/about/webp/about-cow-tablet.webp" media="(min-width: 768px)" />
        <source
          srcset="./images/about/webp/about-cow-tablet@2x.webp"
          media="(min-width: 768px and min-device-pixel-ratio: 2)"
        />
        <source
          srcset="./images/about/webp/about-cow-tablet@3x.webp"
          media="(min-width: 768px and min-device-pixel-ratio: 3)"
        />
        <source srcset="./images/about/webp/about-cow-desktop.webp" media="(min-width: 1280px)" />
        <source
          srcset="./images/about/webp/about-cow-desktop@2x.webp"
          media="(min-width: 1280px and min-device-pixel-ratio: 2)"
        />
        <source
          srcset="./images/about/webp/about-cow-desktop@3x.webp"
          media="(min-width: 1280px and min-device-pixel-ratio: 3)"
        />
        <img src="./images/about/webp/about-cow-mobile.webp" alt="milk_cow" />
      </picture>
      <div class="about__description">
        <article class="about__description-text1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </article>
        <article class="about__description-text2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </article>
        <article class="about__description-text3">Aliquam erat volutpat. Aenean accumsan.</article>
      </div>
      <picture class="about__splash">
        <source
          srcset="./images/about/webp/about-bg-mobile@2x.webp"
          media="(min-device-pixel-ratio: 2)"
        />
        <source
          srcset="./images/about/webp/about-bg-mobile@3x.webp"
          media="(min-device-pixel-ratio: 3)"
        />
        <source srcset="./images/about/webp/about-bg-desktop.webp" media="(min-width: 1280px)" />
        <source
          srcset="./images/about/webp/about-bg-desktop@2x.webp"
          media="(min-width: 1280px and min-device-pixel-ratio: 2)"
        />
        <source
          srcset="./images/about/webp/about-bg-desktop@3x.webp"
          media="(min-width: 1280px and min-device-pixel-ratio: 3)"
        />
        <img src="./images/about/webp/about-bg-mobile.webp" alt="splash_milk" />
      </picture>
    </div>
  </div>
</section>
