<section class="advantages">
  <h2 hidden>lorem</h2>
  <div class="advantages__wrapper">
    <ul class="advantages__list">
      <li class="advantages__item">721</li>
      <li>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
    </ul>
  </div>
  <div class="advantages__wrapper">
    <ul class="advantages__list">
      <li class="advantages__item">16kg</li>
      <li>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
    </ul>
  </div>
  <div class="advantages__wrapper">
    <ul class="advantages__list">
      <li class="advantages__item">84</li>
      <li>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
    </ul>
  </div>
</section>
