<section class="advantages">
  <h2 hidden>Advantages</h2>
  <div class="advantages__wrapper">
    <picture>
      <source srcset="./images/advantages/webp/advantage-milk.webp" media="(min-width:1280px)" />
      <source
        srcset="./images/advantages/webp/advantage-milk@2x.webp"
        media="(min-width:1280px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/advantages/webp/advantage-milk@3x.webp"
        media="(min-width:1280px and min-device-pixel-ratio: 3)"
      />
      <source srcset="./images/advantages/webp/advantage-milk.webp" media="(min-width:768px)" />
      <source
        srcset="./images/advantages/webp/advantage-milk@2x.webp"
        media="(min-width:768px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/advantages/webp/advantage-milk@3x.webp"
        media="(min-width:768px and min-device-pixel-ratio: 3)"
      />
      <source
        srcset="./images/advantages/webp/advantage-milk@3x.webp"
        media="(min-device-pixel-ratio: 3),(min-resolution: 288dpi),
  (min-resolution: 3dppx)"
      />
      <source
        media="(min-device-pixel-ratio: 2),  (min-resolution: 192dpi),
  (min-resolution: 2dppx) "
        srcset="./images/advantages/webp/advantage-milk@2x.webp"
      />
      <img src="./images/advantages/webp/advantage-milk.webp" alt="milk" height="50" width="33" />
    </picture>
    <span class="advantages__number header-850">721</span>
    <p class="text-325 text-325--advantages">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
  <div class="advantages__wrapper">
    <picture>
      <source srcset="./images/advantages/webp/advantage-fruits.webp" media="(min-width:1280px)" />
      <source
        srcset="./images/advantages/webp/advantage-fruits@2x.webp"
        media="(min-width:1280px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/advantages/webp/advantage-fruits@3x.webp"
        media="(min-width:1280px and min-device-pixel-ratio: 3)"
      />
      <source srcset="./images/advantages/webp/advantage-fruits.webp" media="(min-width:768px)" />
      <source
        srcset="./images/advantages/webp/advantage-fruits@2x.webp"
        media="(min-width:768px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/advantages/webp/advantage-fruits@3x.webp"
        media="(min-width:768px and min-device-pixel-ratio: 3)"
      />
      <source
        srcset="./images/advantages/webp/advantage-fruits@3x.webp"
        media="(min-device-pixel-ratio: 3),(min-resolution: 288dpi),
  (min-resolution: 3dppx)"
      />
      <source
        media="(min-device-pixel-ratio: 2),  (min-resolution: 192dpi),
  (min-resolution: 2dppx) "
        srcset="./images/advantages/webp/advantage-fruits@2x.webp"
      />
      <img
        src="./images/advantages/webp/advantage-fruits.webp"
        alt="fruits"
        height="50"
        width="50"
      />
    </picture>
    <span class="advantages__number header-850">16kg</span>
    <p class="text-325 text-325--advantages">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
  <div class="advantages__wrapper">
    <picture>
      <source srcset="./images/advantages/webp/advantage-heart.webp" media="(min-width:1280px)" />
      <source
        srcset="./images/advantages/webp/advantage-heart@2x.webp"
        media="(min-width:1280px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/advantages/webp/advantage-heart@3x.webp"
        media="(min-width:1280px and min-device-pixel-ratio: 3)"
      />
      <source srcset="./images/advantages/webp/advantage-heart.webp" media="(min-width:768px)" />
      <source
        srcset="./images/advantages/webp/advantage-heart@2x.webp"
        media="(min-width:768px and min-device-pixel-ratio: 2)"
      />
      <source
        srcset="./images/advantages/webp/advantage-heart@3x.webp"
        media="(min-width:768px and min-device-pixel-ratio: 3)"
      />
      <source
        srcset="./images/advantages/webp/advantage-heart@3x.webp"
        media="(min-device-pixel-ratio: 3),(min-resolution: 288dpi),
  (min-resolution: 3dppx)"
      />
      <source
        media="(min-device-pixel-ratio: 2),  (min-resolution: 192dpi),
  (min-resolution: 2dppx) "
        srcset="./images/advantages/webp/advantage-heart@2x.webp"
      />
      <img src="./images/advantages/webp/advantage-heart.webp" alt="heart" height="50" width="44" />
    </picture>
    <span class="advantages__number header-850">84</span>
    <p class="text-325 text-325--advantages">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
</section>
