<section class="advantages">
  <h2 hidden>Advantages</h2>
  <div class="advantages__wrapper">
    <picture>
      <source media="(min-width:1280px)" srcset="./images/advantages/advantage-milk.png" />
      <source media="(min-width:768px)" srcset="./images/advantages/advantage-milk.png" />
      <img src="./images/advantages/advantage-milk@2x.png" alt="milk" height="50" width="33" />
    </picture>
    <span class="advantages__number header-850">721</span>
    <p class="text-325">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
  <div class="advantages__wrapper">
    <picture>
      <source media="(min-width:1280px)" srcset="./images/advantages/advantage-fruits.png" />
      <source media="(min-width:768px)" srcset="./images/advantages/advantage-fruits.png" />
      <img src="./images/advantages/advantage-fruits@2x.png" alt="fruits" height="50" width="50" />
    </picture>
    <span class="advantages__number header-850">16kg</span>
    <p class="text-325">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
  <div class="advantages__wrapper">
    <picture>
      <source media="(min-width:1280px)" srcset="./images/advantages/advantage-heart.png" />
      <source media="(min-width:768px)" srcset="./images/advantages/advantage-heart.png" />
      <img src="./images/advantages/advantage-heart@2x.png" alt="heart" height="50" width="44" />
    </picture>
    <span class="advantages__number header-850">84</span>
    <p class="text-325">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
</section>
