<!-- Sekcja Reviews  -->
<section class="reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!-- Zdjęcie pierwszego slajdu  -->
          <picture>
            <source
              srcset="./images/customers/webp/customer-01@3x.webp"
              media="(min-device-pixel-ratio: 3),  (min-resolution: 288dpi),
  (min-resolution: 3dppx)"
            />
            <source
              srcset="./images/customers/webp/customer-01@2x.webp"
              media="(min-device-pixel-ratio: 2),  (min-resolution: 192dpi),
  (min-resolution: 2dppx) "
            />
            <img
              src="./images/customers/webp/customer-01.webp"
              alt="Picture of Customer number 1 - Emily"
              class="reviews__photo"
            />
          </picture>
          <!-- Tekst i tło pierwszego slajdu  -->
          <article class="reviews__article">
            <!-- Underline tekstu i tekst pierwszego slajdu -->
            <div class="reviews__article--wrapper">
              <svg class="reviews__icon" width="54" height="40">
                <use href="./images/icons.svg#icon-quote"></use>
              </svg>
              <p class="reviews__text text-325 text-325--quote">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </article>
          <!-- Trzy czerwone kropki  -->
          <ul class="reviews__list reviews__list--dot">
            <li class="reviews__item--dot"></li>
            <li class="reviews__item--dot"></li>
            <li class="reviews__item--dot"></li>
          </ul>
          <!-- Imie i adres pierwszy slajd  -->
          <h2 class="reviews__name text-375">Emily, Los Angeles</h2>
        </div>
        <div class="swiper-slide">
          <!-- Zdjęcie drugi slajd  -->
          <picture>
            <source
              srcset="./images/customers/webp/customer-02@3x.webp"
              media="(min-device-pixel-ratio: 3),  (min-resolution: 288dpi),
  (min-resolution: 3dppx)"
            />
            <source
              srcset="./images/customers/webp/customer-02@2x.webp"
              media="(min-device-pixel-ratio: 2),  (min-resolution: 192dpi),
  (min-resolution: 2dppx) "
            />
            <img
              src="./images/customers/webp/customer-02.webp"
              alt="Picture of Customer number 2 - Angela"
              class="reviews__photo"
            />
          </picture>
          <!-- Artykuł drugi slajd  -->
          <article class="reviews__article">
            <!-- Underline tekstu i tekst drugiego slajdu -->
            <div class="reviews__article--wrapper">
              <svg class="reviews__icon" width="54" height="40">
                <use href="./images/icons.svg#icon-quote"></use>
              </svg>
              <p class="reviews__text text-325 text-325--quote">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </article>
          <!-- Trzy czerwone kropki  -->
          <ul class="reviews__list reviews__list--dot">
            <li class="reviews__item--dot"></li>
            <li class="reviews__item--dot"></li>
            <li class="reviews__item--dot"></li>
          </ul>
          <!-- Imie i adres drugi slajd  -->
          <h2 class="reviews__name text-375">Angela, Barcelona</h2>
        </div>
        <div class="swiper-slide">
          <!-- Zdjęcie trzeci slajd  -->
          <picture>
            <source
              srcset="./images/customers/webp/customer-03@3x.webp"
              media="(min-device-pixel-ratio: 3),  (min-resolution: 288dpi),
  (min-resolution: 3dppx)"
            />
            <source
              srcset="./images/customers/webp/customer-03@2x.webp"
              media="(min-device-pixel-ratio: 2),  (min-resolution: 192dpi),
  (min-resolution: 2dppx) "
            />
            <img
              src="./images/customers/webp/customer-03.webp"
              alt="Picture of Customer number 3 - Jadwiga"
              class="reviews__photo"
            />
          </picture>
          <!-- Artykuł trzeci slajd  -->
          <article class="reviews__article">
            <!-- Underline tekstu i tekst drugiego slajdu -->
            <div class="reviews__article--wrapper">
              <svg class="reviews__icon" width="54" height="40">
                <use href="./images/icons.svg#icon-quote"></use>
              </svg>
              <p class="reviews__text text-325 text-325--quote">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </article>
          <!-- Trzy czerwone kropki  -->
          <ul class="reviews__list reviews__list--dot">
            <li class="reviews__item--dot"></li>
            <li class="reviews__item--dot"></li>
            <li class="reviews__item--dot"></li>
          </ul>
          <!-- Imie i adres trzeci slajd  -->
          <h2 class="reviews__name text-375">Jadwiga, Lipinki Łużyckie</h2>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="./js/slider.js" type="module"></script>
