<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-menu-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <button class="button-example">tu będzie przycisk</button>

  <nav>
    <ul class="mobile-menu">
      <li><a class="mobile-menu__link text-400" href="./index.html">Home</a></li>
      <li><a class="mobile-menu__link text-400" href="#about-us">About us</a></li>
      <li><a class="mobile-menu__link text-400" href="#tradition-and-love">How it’s made?</a></li>
      <li><a class="mobile-menu__link text-400" href="#our-products">Our products</a></li>
      <li><a class="mobile-menu__link text-400" href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="js/mobile-menu.js"></script>
