<div class="menu-container123 js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">X</button>

  <button class="button-example123">tu będzie przycisk</button>

  <ul class="mobile-menu123">
    <li><a class="mobile-menu__link123" href="">Home</a></li>
    <li><a class="mobile-menu__link123" href="">About us</a></li>
    <li><a class="mobile-menu__link123" href="">How it’s made?</a></li>
    <li><a class="mobile-menu__link123" href="">Our products</a></li>
    <li><a class="mobile-menu__link123" href="">Contact</a></li>
  </ul>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="js/mobile-menu.js"></script>
