<section id="products">
  <div class="container products-wrapper">
    <div class="title-container">
      <span class="header-550 title-container__label">100% natural</span>
      <h2 class="header-800">products</h2>
    </div>
    <div class="products-wrapper__items">
      <ul class="products-list">
        <li class="products-list__item products-list__item--bg1">
          <h3 class="header-600 products-list__header products-list__header-1-photo">ice cream</h3>
          <p class="text-400 text-400--products">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="button-arrow button-arrow--products">
            <svg>
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products-list__item products-list__item--bg2">
          <h3 class="header-600 products-list__header products-list__header-2-photo">ice coffee</h3>
          <p class="text-400 text-400--products">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="button-arrow button-arrow--products">
            <svg>
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products-list__item products-list__item--bg3">
          <h3 class="header-600 products-list__header products-list__header-3-photo">milkshakes</h3>
          <p class="text-400 text-400--products">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="button-arrow button-arrow--products">
            <svg>
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
