@use '../utils' as *;
.about {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-pink-light);
    padding-top: 125px;
    background-image: url('../images/about/webp/about-bg-mobile.webp');
    background-repeat: no-repeat;
    background-position: 50% 93%;

    &__title {
        text-align: center;
    }
  
    &__titleFirst {
        text-transform: uppercase;
        
    }

    &__titleSecond {
        margin-top: 15px;
        text-transform: uppercase;
    }

    &__cow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    &__cow {
        text-decoration: none;

    }

    &__description {
        max-width: 320px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__description-text1 {
        margin-top: 46px;

    }

    &__description-text2 {
        margin-top: 40px;
    }

    &__description-text3 {

        padding-top: 14px;
    }
    &__button {
        margin: 17px;
    }

    &__splash {
        text-decoration: none;

    }

}

@media only screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
    .about {
        background-image: none;
        }
}


@media screen and (min-width: $tablet-size) {
    .about {
        background-image: none;

        &__description {
            max-width: 100%;
        }
    }
}