@use '../utils' as *;
.about {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-pink-light);
    padding-top: 125px;
    position: relative;
    

    &__title {
        text-align: center;
    }
  
    &__titleFirst {
        color: var(--text-pink-light);
        font-family: var(--ff-header);
        font-size: var(--fs-550);
        text-transform: uppercase;
        
    }

    &__titleSecond {
        margin-top: 15px;
        color: var(--text-pink);
        font-family: var(--ff-header);
        font-size: var(--fs-800);
        text-transform: uppercase;
    }

    &__cow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    &__cow {
        text-decoration: none;

    }

    &__description {
        max-width: 320px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__description-text1 {
        margin-top: 46px;
        color: var(--text-black);
        font-family: var(--ff-primary); 
        font-size: var(--fs-325);
        line-height: 1.25rem;
    }

    &__description-text2 {
        margin-top: 40px;
        color: var(--text-gray);
        font-family: var(--ff-primary); 
        font-size: var(--fs-300);
        line-height: 1.25rem;
    }

    &__description-text3 {
        color: var(--text-gray);
        font-family: var(--ff-primary); 
        font-size: var(--fs-300);
        line-height: 1.25rem;
        padding-top: 14px;
    }
    &__button {
        margin: 17px;
    }

    &__splash {
        text-decoration: none;
        position: absolute;
        bottom: 75px;
    }

}

@media only screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
    .about {
        &__splash {
            display: none;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .about {
        &__description {
            max-width: 100%;
        }
    }
}