@use '../utils' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 320px;
    padding: 38px 70px 0 20px;
    background-color: var(--bg-pink-light);
  }
  &__list {
    list-style: none;
    line-height: 1.7;
    color: var(--text-black);
  }
  &__item{
    padding-bottom: var(--fs-500);
  }
}
