@use '../utils' as *;

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container123 {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  z-index: 999;
  transform: translateX(1280px);
  transition: transform 250ms ease-in-out;
  padding-left: 21px;
}

.menu-container123.is-open {
  transform: translateX(0);
}

.menu-container123 .menu-toggle {
  position: absolute;
  top: 23px;
  right: 28px;
  color: white;
}

.button-example123 {
  margin-top: 60px;
}

.mobile-menu123 {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
}

.mobile-menu123 > li:not(:first-child) {
  margin-top: 23px;
}

.mobile-menu__link123 {
  text-decoration: none;
}
