@use '../utils' as *;

.title-container {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 9rem;
  &__label {
    display: block;
    margin-bottom: 0.94rem;
  }
}
@media (min-width: $tablet-size) {
  .title-container {
    margin-bottom: 9.38rem;
  }
}
.products-wrapper {
  padding-top: 7.56rem;
  padding-bottom: 6.13rem;
  &__items {
    max-width: 17.5rem;
    margin: auto;
  }
}
@media (min-width: $tablet-size) {
  .products-wrapper {
    padding-bottom: 7rem;
    &__items {
      max-width: none;
    }
  }
}
.products-list {
  display: flex;
  gap: 8.13rem;
  flex-wrap: wrap;
  &__item {
    width: 100%;
    min-height: 30.31rem;
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.88rem;
    text-align: center;
    padding: 10.06rem 2.44rem 2.56rem 2.56rem;
    &--bg1 {
      background-color: var(--bg-pink);
      position: relative;
    }
    &--bg2 {
      background-color: var(--bg-beige);
      position: relative;
    }
    &--bg3 {
      background-color: var(--bg-green);
      position: relative;
    }
  }
  &__header {
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    position: relative;
    &::after {
      content: '....';
      color: transparent;
      position: absolute;
      border-bottom: 0.375rem dotted var(--bg-white);
      top: 1.875rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.products-list__item--bg1::before {
  content: '';
  background-image: url('../images/products/ice-cream-mobile.png');
  width: 15.56rem;
  height: 15.75rem;
  display: block;
  position: absolute;
  top: -7.06rem;
  background-repeat: no-repeat;
}
.products-list__item--bg2::before {
  content: '';
  background-image: url('../images/products/coffee-mobile.png');
  width: 15.56rem;
  height: 15.75rem;
  display: block;
  position: absolute;
  top: -7.06rem;
  background-repeat: no-repeat;
}
.products-list__item--bg3::before {
  content: '';
  background-image: url('../images/products/shake-mobile.png');
  background-size: 15.56rem 15.75rem;
  width: 15.56rem;
  height: 15.75rem;
  display: block;
  position: absolute;
  top: -7.06rem;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-list__item--bg1::before {
    background-image: url('../images/products/webp/ice-cream-mobile@2x.webp');
    background-size: 15.56rem 15.75rem;
  }
  .products-list__item--bg2::before {
    background-image: url('../images/products/webp/coffee-mobile@2x.webp');
    background-size: 15.56rem 15.75rem;
  }
  .products-list__item--bg3::before {
    background-image: url('../images/products/webp/shake-mobile@2x.webp');
    background-size: 15.56rem 15.75rem;
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .products-list__item--bg1::before {
    background-image: url('../images/products/webp/ice-cream-mobile@3x.webp');
    background-size: 15.56rem 15.75rem;
  }
  .products-list__item--bg2::before {
    background-image: url('../images/products/webp/coffee-mobile@3x.webp');
    background-size: 15.56rem 15.75rem;
  }
  .products-list__item--bg3::before {
    background-image: url('../images/products/webp/shake-mobile@3x.webp');
    background-size: 15.56rem 15.75rem;
  }
}
@media (min-width: $tablet-size) {
  .products-list {
    gap: 1.25rem;
    &__item {
      flex-basis: calc((100% - 40px) / 3);
      padding: 9.5rem 0.69rem 2.5rem;
    }
  }
  .products-list__item--bg1::before {
    background-image: url('../images/products/ice-cream-tablet.png');
    background-size: 13.75rem 14.125rem;
    width: 13.75rem;
    height: 14.125rem;
  }
  .products-list__item--bg2::before {
    background-image: url('../images/products/coffee-tablet.png');
    background-size: 13.75rem 14.56rem;
    width: 13.75rem;
    height: 14.56rem;
  }
  .products-list__item--bg3::before {
    background-image: url('../images/products/shake-tablet.png');
    background-size: 13.75rem 14rem;
    width: 13.75rem;
    height: 14rem;
  }
}
@media screen and (min-width: $tablet-size) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet-size) and (min-resolution: 192dpi),
  screen and (min-width: $tablet-size) and (min-resolution: 2dppx) {
  .products-list__item--bg1::before {
    background-image: url('../images/products/webp/ice-cream-tablet@2x.webp');
    background-size: 13.75rem 14.125rem;
  }
  .products-list__item--bg2::before {
    background-image: url('../images/products/webp/coffee-tablet@2x.webp');
    background-size: 13.75rem 14.56rem;
  }
  .products-list__item--bg3::before {
    background-image: url('../images/products/webp/shake-tablet@2x.webp');
    background-size: 13.75rem 14rem;
  }
}
@media screen and (min-width: $tablet-size) and (min-device-pixel-ratio: 3),
  screen and (min-width: $tablet-size) and (min-resolution: 288dpi),
  screen and (min-width: $tablet-size) and (min-resolution: 3dppx) {
  .products-list__item--bg1::before {
    background-image: url('../images/products/webp/ice-cream-tablet@3x.webp');
    background-size: 13.75rem 14.125rem;
  }
  .products-list__item--bg2::before {
    background-image: url('../images/products/webp/coffee-tablet@3x.webp');
    background-size: 13.75rem 14.56rem;
  }
  .products-list__item--bg3::before {
    background-image: url('../images/products/webp/shake-tablet@3x.webp');
    background-size: 13.75rem 14rem;
  }
}
